---
import SpaLayout from "../../layouts/SpaLayout.astro";
import { globalStore } from "../../data/globalStore";
import { router } from '../../lib'
---
<SpaLayout title="Astro Demo">
  <p>Current route: <span id="currentRoute">{router.get().route}</span></p>
  <p>Current global data: <span id="storeState">{JSON.stringify(globalStore.get())}</span></p>
  <script>
    import { router } from '../../lib'
    import { globalStore } from '../../data/globalStore'

    const currentRouteEl = document.querySelector('#currentRoute')
    if (currentRouteEl) {
      currentRouteEl.textContent = router.get().route
      router.subscribe((data) => currentRouteEl.textContent = data.route)
    }

    const storeStateEl = document.querySelector('#storeState')
    if (storeStateEl) storeStateEl.textContent = JSON.stringify(globalStore.get())
  </script>
</SpaLayout>