---
import AppLayout from "../../layouts/AppLayout.astro";
---
<AppLayout title="Astro SPA">
  <ul>
    <li><a href="/app/react">React demo</a></li>
    <li><a href="/app/vue">Vue demo</a></li>
    <li><a href="/app/store">Store demo (in React)</a></li>
    <li><a href="/app/router/a">Router demo (in React)</a></li>
    <li><a href="/app/multi-framework">Multiple frameworks</a></li>
  </ul>
</AppLayout>