---
import App from "../../components/vue/App.vue";
import { createPageRoutesFromGlob, createRouter } from "../../lib/routing/server"
import SPA from "../../lib/SPA.astro";

const router = await createRouter(Astro, {
  routes: () => createPageRoutesFromGlob(Astro.glob('../**/*.astro'))
})
---
<SPA router={router}>
  <a href="/app">Back to list</a>  
  <App />
</SPA>