---
import { counterStore } from "../../../components/multi-framework/counter";
import { ReactCounter } from "../../../components/multi-framework/ReactCounter";
import VueCounter from "../../../components/multi-framework/VueCounter.vue";
import SpaLayout from "../../../layouts/SpaLayout.astro";
---
<SpaLayout title="Multi-framework demo" stores={[counterStore]}>
  <a href="/app">Back to list</a>  
  <ReactCounter client:load />
  <VueCounter client:load />
</SpaLayout>